@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideOut {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

.login-animation {
    animation: slideIn 0.5s ease-out;
}

.signup-animation {
    animation: slideOut 0.5s ease-in;
}
